/* CSS RESETS: 9 RESETS */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}
  
  /* 2. Remove default margin */
* {
    margin: 0;
}
  
body {
/* 3. Add accessible line-height */
line-height: 1.5;
/* 4. Improve text rendering */
-webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
text-wrap: balance;
}

/*
9. Create a root stacking context
*/
#root, #__next {
isolation: isolate;
}

/* CUSTOM STYLING */
:root {
    --kaki-green: #596D48;
    --light-grey: #f2f5fa;
    --background-lighter-grey: #f8fdff;
    --black-font: #3d3d3d;
    --border-light-grey: #E5E7EB;
    --blue: #4040fc;
}

.container {
    display: flex;
    height: 100%;
}

/* LEFT SIDE CONTAINER */
.left-side {
    flex: 0 0 40%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.left-side .main-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left center;
}

.brand {
    position: absolute;
    top: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 8px;
}

.brand img {
    width: 25%;
}

.brand h1 {
    color: white;
    font-family: 'Norse';
    font-size: calc(3rem + 5vw);
}

.credits {
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
    color: var(--light-grey);
}

.credits a {
    color: var(--light-grey)
}

/* RIGHT SIDE CONTAINER */
.right-side {
    background-color: var(--background-lighter-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--black-font);
    font-size: calc(1rem + 0.4vw);
    font-weight: bold;
    padding: 0 120px 32px 0;
    line-height: 1.25;
}

.message, .button-login {
    padding: 28px 40px;
}

form {
    background-color: white;
    padding: 12px 120px 32px 40px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

fieldset {
    border: none;
    padding: 0;
}

fieldset legend {
    font-family: 'Inter', sans-serif;
    font-size: calc(1rem + 0.5vw);
    font-weight: 600;
    padding-bottom: 20px;
    color: var(--black-font);
}

.form-container {
    display: flex;
    flex-wrap: wrap;
}

.form-item {
    display: flex;
    flex: 1 1 45%;
    flex-direction: column;
    padding: 0 80px 20px 0;
}

.form-item label {
    font-size: calc(0.4rem + 0.5vw);
    font-family: 'Inter', sans-serif;
    color: var(--black-font);
    letter-spacing: 0.1rem;
}

.form-item input {
    font-family: sans-serif;
    border: 1px solid var(--border-light-grey);
    border-radius: 4px;
    outline: none;
    padding: 0 8px;
}

.form-item input:focus {
    border: 1px solid var(--blue);
    border-radius: 4px;
    outline: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.form-item input:user-invalid {
    border: 1px solid red;
    border-radius: 4px;
    outline: none;
}

#error-message {
    font-family: 'Inter', sans-serif;
    color: red;
    display: none;
}

.button-login button {
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    background: var(--kaki-green);
    color: white;
    padding: 12px 44px;
    border: none;
    border-radius: 6px;
    margin-bottom: 28px;
}

.button-login button:hover {
    transform: scale(1.01);
    background-color: rgb(165, 91, 42);
}

.button-login p {
    font-family: 'Inter', sans-serif;
}

.button-login a {
    text-decoration: none;
    color: var(--kaki-green);
    font-weight: bold;
    display: inline-block;
}

.button-login a:hover {
    transform: scale(1.1);
    color: rgb(165, 91, 42);
}